In [1]:
import pandas as pd
import psycopg2
from datetime import date

# create postgresql connection
from sqlalchemy import create_engine
from etl.creds import postgresql_pw

engine = create_engine(f'postgresql+psycopg2://postgres:{postgresql_pw}@localhost:5432/api_sports')

In [2]:
# retrieve games-venues view in api-sports db
query = f'''
    SELECT *
    FROM v_all_game_venues
    ORDER BY game_id
    '''

all_games_df = pd.read_sql(query, engine)
print(f'{len(all_games_df)} games retrieved')
print(f'Home teams in dataframe: {all_games_df['home_name'].nunique()}')
all_games_df.head()

5733 games retrieved
Home teams in dataframe: 153

,league,game_id,date,time,home_id,home_name,away_id,away_name,venue_name,city,state,full_address,lat,lon,metro_area,metro_team_num
0,mlb,mlb_163282,2025-03-18,06:00,206,Chicago Cubs,218,Los Angeles Dodgers,Wrigley Field,Chicago,Illinois,"1060 West Addison, Chicago, IL 60613-4397",41.947638,-87.656381,"Chicago, Illinois",mlb_1
1,mlb,mlb_163283,2025-03-19,06:00,206,Chicago Cubs,218,Los Angeles Dodgers,Wrigley Field,Chicago,Illinois,"1060 West Addison, Chicago, IL 60613-4397",41.947638,-87.656381,"Chicago, Illinois",mlb_1
2,mlb,mlb_163284,2025-03-27,12:05,225,New York Yankees,220,Milwaukee Brewers,Yankee Stadium,Bronx,New York,"One East 161st Street, Bronx, NY 10451",40.825622,-73.918566,"New York City, New York",mlb_2
3,mlb,mlb_163285,2025-03-27,14:07,236,Toronto Blue Jays,204,Baltimore Orioles,Rogers Centre,Toronto,Ontario,"1 Blue Jays Way, Suite 3200, Toronto, Ontario,...",43.642434,-79.389677,"Toronto, Ontario",mlb_1
4,mlb,mlb_163286,2025-03-27,15:10,219,Miami Marlins,228,Pittsburgh Pirates,Marlins Park,Miami,Florida,"501 Marlins Way, Miami, FL 33125",25.777923,-80.220844,"Miami, Florida",mlb_1

In [4]:
# read in completed teams xlsx to filter out irrelevant games before counting
completed_teams_df = pd.read_excel('etl/data/team_completions.xlsx')
completed_teams_df.head()

  league                  team  home_id             metro_area  completed_flag
0    mlb  Arizona Diamondbacks      202       Phoenix, Arizona               0
1    mlb        Atlanta Braves      203       Atlanta, Georgia               1
2    mlb     Baltimore Orioles      204    Baltimore, Maryland               0
3    mlb        Boston Red Sox      205  Boston, Massachusetts               0
4    mlb          Chicago Cubs      206      Chicago, Illinois               0

In [5]:
# filter games_df on uncompleted teams
uncompleted_teams = completed_teams_df[completed_teams_df['completed_flag']==0]['home_id']
games_df = all_games_df[all_games_df['home_id'].isin(uncompleted_teams)]
print(f'Games remaining in dataframe: {len(games_df)}')
print(f'Home teams remaining in dataframe: {games_df['home_name'].nunique()}')

Games remaining in dataframe: 4709
Home teams remaining in dataframe: 128

In [6]:
# grouping by city and date, pivoting by metro team number to account for multiple games by same team
city_date_df = pd.pivot_table(games_df, values='home_name', index=['metro_area', 'date'],
                              columns='metro_team_num', aggfunc='nunique', fill_value=0).reset_index()

# remove extraneous "metro_team_num" column created by pivot_table
city_date_df.columns = [col for col in city_date_df.columns.values]

city_date_game_count = city_date_df.sort_values(by=['metro_area', 'date'])
city_date_game_count['date'] = city_date_game_count['date'].astype(str)
city_date_game_count.head()

,metro_area,date,mlb_1,mlb_2,mls_1,mls_2,nba_1,nba_2,nfl_1,nfl_2,nhl_1,nhl_2,nhl_3
0,"Atlanta, Georgia",2024-10-08,0,0,0,0,1,0,0,0,0,0,0
1,"Atlanta, Georgia",2024-10-14,0,0,0,0,1,0,0,0,0,0,0
2,"Atlanta, Georgia",2024-10-23,0,0,0,0,1,0,0,0,0,0,0
3,"Atlanta, Georgia",2024-10-25,0,0,0,0,1,0,0,0,0,0,0
4,"Atlanta, Georgia",2024-10-28,0,0,0,0,1,0,0,0,0,0,0

In [7]:
# min and max dates in games data
min_date = city_date_game_count['date'].min()
max_date = city_date_game_count['date'].max()
print(f'min date: {min_date}, max date: {max_date}')

# city count
city_count = city_date_game_count['metro_area'].nunique()
print(f'city count: {city_count}')

min date: 2024-08-08, max date: 2025-10-18
city count: 46

In [8]:
# create list of dates that has each possible date in range
# extend that list however many times that there are cities
dates_idx = pd.date_range(start=min_date, end=max_date)
num_dates = len(dates_idx)
print(f'number of dates: {num_dates}')
for _ in range(city_count-1):
    dates_idx = dates_idx.append(pd.date_range(start=min_date, end=max_date))
print(f'length of date index: {len(dates_idx)}')

number of dates: 437
length of date index: 20102

In [9]:
# create list of cities in game data
# extend to have N of each city equal to number of dates in range
cities = list(set(city_date_game_count['metro_area']))
cities_mult = []
for city in cities:
    city_mult = [city] * num_dates
    cities_mult.extend(city_mult)
len(cities_mult)

20102

In [10]:
# create skeleton dataframe for all cities-dates
cities_dates_mult = pd.DataFrame({'metro_area':cities_mult, 'date':dates_idx}).sort_values(['metro_area', 'date']).reset_index(drop=True)
cities_dates_mult['date'] = cities_dates_mult['date'].astype(str)
cities_dates_mult.dtypes

metro_area    object
date          object
dtype: object

In [11]:
# merge dataframes to have number of teams active for every city-date
city_date_game_count_df = cities_dates_mult.merge(city_date_game_count, how='left', on=['metro_area','date'])

# updating logic to make metro_team_num column names dynamic
# handles if all teams of a certain metro_team_num are completed
team_cols = list(city_date_game_count_df.iloc[:,2:].columns.values)
city_date_game_count_df[team_cols] = city_date_game_count_df[team_cols].fillna(0)
city_date_game_count_df

,metro_area,date,mlb_1,mlb_2,mls_1,mls_2,nba_1,nba_2,nfl_1,nfl_2,nhl_1,nhl_2,nhl_3
0,"Atlanta, Georgia",2024-08-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Atlanta, Georgia",2024-08-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Atlanta, Georgia",2024-08-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Atlanta, Georgia",2024-08-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Atlanta, Georgia",2024-08-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20097,"Winnipeg, Manitoba",2025-10-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20098,"Winnipeg, Manitoba",2025-10-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20099,"Winnipeg, Manitoba",2025-10-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20100,"Winnipeg, Manitoba",2025-10-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20101,"Winnipeg, Manitoba",2025-10-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# create column to calculate total teams in previous 5 days
# updated to include separate columns to fix UTP
city_date_game_count_df[team_cols] = city_date_game_count_df.groupby(['metro_area'])[team_cols]\
                                        .rolling(window=5, min_periods=1).sum().reset_index(0, drop=True)
city_date_game_count_df

,metro_area,date,mlb_1,mlb_2,mls_1,mls_2,nba_1,nba_2,nfl_1,nfl_2,nhl_1,nhl_2,nhl_3
0,"Atlanta, Georgia",2024-08-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Atlanta, Georgia",2024-08-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Atlanta, Georgia",2024-08-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Atlanta, Georgia",2024-08-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Atlanta, Georgia",2024-08-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20097,"Winnipeg, Manitoba",2025-10-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20098,"Winnipeg, Manitoba",2025-10-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20099,"Winnipeg, Manitoba",2025-10-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20100,"Winnipeg, Manitoba",2025-10-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20101,"Winnipeg, Manitoba",2025-10-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# create column for beginning of date range
city_date_game_count_df['date'] = pd.to_datetime(city_date_game_count_df['date']).dt.date
city_date_game_count_df['start_date'] = city_date_game_count_df['date'] - pd.Timedelta('4 days')
city_date_game_count_df = city_date_game_count_df.rename(columns={'date':'end_date'})
city_date_game_count_df = city_date_game_count_df[['metro_area', 'start_date', 'end_date']+team_cols]
city_date_game_count_df

,metro_area,start_date,end_date,mlb_1,mlb_2,mls_1,mls_2,nba_1,nba_2,nfl_1,nfl_2,nhl_1,nhl_2,nhl_3
0,"Atlanta, Georgia",2024-08-04,2024-08-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Atlanta, Georgia",2024-08-05,2024-08-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Atlanta, Georgia",2024-08-06,2024-08-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Atlanta, Georgia",2024-08-07,2024-08-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Atlanta, Georgia",2024-08-08,2024-08-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20097,"Winnipeg, Manitoba",2025-10-10,2025-10-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20098,"Winnipeg, Manitoba",2025-10-11,2025-10-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20099,"Winnipeg, Manitoba",2025-10-12,2025-10-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20100,"Winnipeg, Manitoba",2025-10-13,2025-10-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20101,"Winnipeg, Manitoba",2025-10-14,2025-10-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# combine new columns into 1 new column for five day total
city_date_game_count_df['five_day_total'] = city_date_game_count_df[team_cols].clip(upper=1).sum(axis=1)
city_date_game_count_df

,metro_area,start_date,end_date,mlb_1,mlb_2,mls_1,mls_2,nba_1,nba_2,nfl_1,nfl_2,nhl_1,nhl_2,nhl_3,five_day_total
0,"Atlanta, Georgia",2024-08-04,2024-08-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Atlanta, Georgia",2024-08-05,2024-08-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Atlanta, Georgia",2024-08-06,2024-08-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Atlanta, Georgia",2024-08-07,2024-08-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Atlanta, Georgia",2024-08-08,2024-08-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20097,"Winnipeg, Manitoba",2025-10-10,2025-10-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20098,"Winnipeg, Manitoba",2025-10-11,2025-10-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20099,"Winnipeg, Manitoba",2025-10-12,2025-10-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20100,"Winnipeg, Manitoba",2025-10-13,2025-10-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20101,"Winnipeg, Manitoba",2025-10-14,2025-10-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# testing top date ranges
city_date_game_count_df.sort_values('five_day_total', ascending=False)

,metro_area,start_date,end_date,mlb_1,mlb_2,mls_1,mls_2,nba_1,nba_2,nfl_1,nfl_2,nhl_1,nhl_2,nhl_3,five_day_total
8987,"Los Angeles, California",2025-04-08,2025-04-12,2.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,1.0,2.0,0.0,8.0
12040,"New York City, New York",2025-04-02,2025-04-06,3.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,1.0,2.0,1.0,8.0
8988,"Los Angeles, California",2025-04-09,2025-04-13,1.0,3.0,1.0,1.0,1.0,1.0,0.0,0.0,2.0,2.0,0.0,8.0
12041,"New York City, New York",2025-04-03,2025-04-07,4.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0,1.0,2.0,1.0,8.0
12043,"New York City, New York",2025-04-05,2025-04-09,5.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,1.0,2.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8582,"Las Vegas, Nevada",2025-05-10,2025-05-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8583,"Las Vegas, Nevada",2025-05-11,2025-05-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8584,"Las Vegas, Nevada",2025-05-12,2025-05-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8585,"Las Vegas, Nevada",2025-05-13,2025-05-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20101,"Winnipeg, Manitoba",2025-10-14,2025-10-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Integrating with original games data to make 1 table for export

In [16]:
# filter down to just five day total column and then proceed as before
city_date_game_count_df = city_date_game_count_df.drop(columns=team_cols)
city_date_game_count_df.head()

         metro_area  start_date    end_date  five_day_total
0  Atlanta, Georgia  2024-08-04  2024-08-08             0.0
1  Atlanta, Georgia  2024-08-05  2024-08-09             0.0
2  Atlanta, Georgia  2024-08-06  2024-08-10             0.0
3  Atlanta, Georgia  2024-08-07  2024-08-11             0.0
4  Atlanta, Georgia  2024-08-08  2024-08-12             0.0

In [17]:
games_df.head(1)

,league,game_id,date,time,home_id,home_name,away_id,away_name,venue_name,city,state,full_address,lat,lon,metro_area,metro_team_num
0,mlb,mlb_163282,2025-03-18,06:00,206,Chicago Cubs,218,Los Angeles Dodgers,Wrigley Field,Chicago,Illinois,"1060 West Addison, Chicago, IL 60613-4397",41.947638,-87.656381,"Chicago, Illinois",mlb_1

In [18]:
games_df['earliest_start_date'] = games_df['date'] - pd.Timedelta('4 days')
games_df['latest_end_date'] = games_df['date'] + pd.Timedelta('4 days')
games_df.head(1)

C:\Users\hunte\AppData\Local\Temp\ipykernel_20012\1456110451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_df['earliest_start_date'] = games_df['date'] - pd.Timedelta('4 days')
C:\Users\hunte\AppData\Local\Temp\ipykernel_20012\1456110451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_df['latest_end_date'] = games_df['date'] + pd.Timedelta('4 days')

,league,game_id,date,time,home_id,home_name,away_id,away_name,venue_name,city,state,full_address,lat,lon,metro_area,metro_team_num,earliest_start_date,latest_end_date
0,mlb,mlb_163282,2025-03-18,06:00,206,Chicago Cubs,218,Los Angeles Dodgers,Wrigley Field,Chicago,Illinois,"1060 West Addison, Chicago, IL 60613-4397",41.947638,-87.656381,"Chicago, Illinois",mlb_1,2025-03-14,2025-03-22

In [19]:
full_join_df = city_date_game_count_df.merge(games_df, on='metro_area')
print(len(full_join_df))
full_join_df.head(1)

2054337

,metro_area,start_date,end_date,five_day_total,league,game_id,date,time,home_id,home_name,...,away_name,venue_name,city,state,full_address,lat,lon,metro_team_num,earliest_start_date,latest_end_date
0,"Atlanta, Georgia",2024-08-04,2024-08-08,0.0,mls,mls_1326235,2025-02-22,18:30:00,1608,Atlanta United FC,...,CF Montreal,Mercedes-Benz Stadium,Atlanta,Georgia,"35 Northside Dr NW, Atlanta, GA 30313",33.755513,-84.402515,mls_1,2025-02-18,2025-02-26

In [20]:
# filters df to associate each game with all date ranges that the game falls in
games_counts_df = full_join_df[(full_join_df['start_date']>=full_join_df['earliest_start_date']) &
                               (full_join_df['end_date']<=full_join_df['latest_end_date'])]\
                               .sort_values(['metro_area', 'date'])
print(len(games_counts_df))
games_counts_df.head(5)

23457

,metro_area,start_date,end_date,five_day_total,league,game_id,date,time,home_id,home_name,...,away_name,venue_name,city,state,full_address,lat,lon,metro_team_num,earliest_start_date,latest_end_date
3656,"Atlanta, Georgia",2024-10-04,2024-10-08,1.0,nba,nba_425083,2024-10-08,18:30,132,Atlanta Hawks,...,Indiana Pacers,State Farm Arena,Atlanta,Georgia,"1 State Farm Drive, Atlanta, GA 30303",33.75737,-84.396385,nba_1,2024-10-04,2024-10-12
3715,"Atlanta, Georgia",2024-10-05,2024-10-09,1.0,nba,nba_425083,2024-10-08,18:30,132,Atlanta Hawks,...,Indiana Pacers,State Farm Arena,Atlanta,Georgia,"1 State Farm Drive, Atlanta, GA 30303",33.75737,-84.396385,nba_1,2024-10-04,2024-10-12
3774,"Atlanta, Georgia",2024-10-06,2024-10-10,1.0,nba,nba_425083,2024-10-08,18:30,132,Atlanta Hawks,...,Indiana Pacers,State Farm Arena,Atlanta,Georgia,"1 State Farm Drive, Atlanta, GA 30303",33.75737,-84.396385,nba_1,2024-10-04,2024-10-12
3833,"Atlanta, Georgia",2024-10-07,2024-10-11,1.0,nba,nba_425083,2024-10-08,18:30,132,Atlanta Hawks,...,Indiana Pacers,State Farm Arena,Atlanta,Georgia,"1 State Farm Drive, Atlanta, GA 30303",33.75737,-84.396385,nba_1,2024-10-04,2024-10-12
3892,"Atlanta, Georgia",2024-10-08,2024-10-12,1.0,nba,nba_425083,2024-10-08,18:30,132,Atlanta Hawks,...,Indiana Pacers,State Farm Arena,Atlanta,Georgia,"1 State Farm Drive, Atlanta, GA 30303",33.75737,-84.396385,nba_1,2024-10-04,2024-10-12

In [21]:
# exporting results to use in Tableau
games_counts_df.to_csv('tableau/games_counts_data.csv', index=False)

TODO: Add the multiple lengths of date range, then use Tableau parameter to switch between the fields that have the counts for each length?

Would need separate columns for the earliest_start and latest_end date of each game-length combo? Does this explode df length?

If the goal is to have 5 days as max range and then look for shorter, is there a more dynamic way of finding the number of days within the date range that actually contain the games? Like if there's 3 in 5, but they're actually 3 days in a row, then it's a true 3-day range. But would that be thrown off by a team having more than 1 game in the range?

Is there a way to just add the number of "dead days" (days without game) in a date range? Because that might matter most.

Could just repeat the current process for other lengths of date ranges, but might encounter memory limits if joining multiple times on large dfs (current length is ~2M rows)